<% include partials/header %>
    <h1>Add customer</h1>
    <% if(errors) {%>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %></li>    
        <% }) %>    
    <% } %>    
    <form method="POST" action="/user/add">
        <label for="">First Name</label><br>
        <input type="text" name="firstName">
        <br>
        <label for="">Last Name</label><br>
        <input type="text" name="lastName">
        <br>
        <label for="">Email</label><br>
        <input type="text" name="email">
        <br>
        <br>    
        <input type="submit" value="Submit"> 
    </form>
    <h1><%= title  %></h1>
    <ul>
        <% user.forEach(function(user){ %>
            <li><%= user.firstName  %> <%= user.lastName  %></li>
        <% }) %>
    </ul>     
<% include partials/footer %>